@charset "UTF-8";

/* Fonts */
@import url("lib/fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");

/* General */
@import url("lib/normalize.css");

body {
    font-family: "Open Sans", sans-serif;
}
.container {
    box-shadow: 0 0 20px #999; /*sombr a todas las secciones */
    max-width: 1200px;
    margin: 0 auto;
}
img {
    display: block; 
    max-width: 100%;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.page-container {
    background-color:#333;
}
/* Header */
.page-header {
    position: relative;
}

.page-header h1 {
    position: absolute;
    top: 25px;
    left: 25px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}
/* Nav */
.page-nav {
    float: left;
    width: 25%;
}

.page-nav a {
    display: block;
    text-decoration: none;
    color:#ccc;
    padding: 20px 10px;
    transition: all .3s;
}

.page-nav a:hover,
.page-nav a.active {
    background-color: #666;
    color: #fff;
}

/* Main */
.page-main {
    background-color: #fff;
}
.page-main {
    float: right;
    width: 75%;
    padding: 0 16px;
    box-sizing: border-box;
}

.page-main h2 {
    text-transform: uppercase;  
}
 .page-main p {
     line-height: 1.4;
     text-align: justify;
 }

 .page-main img {
     max-width: 350px;
     float: left;
     margin: 0 16px 16px 0;;
 }
/* Footer */
.page-footer {
    background-color:#333;
    padding: 20px 0;
    margin: 10px 0;
}

.page-footer p {
    margin: 0;
    text-align: center;
    color: #fff;
}
/* Helpers */
.clearfix:before,
.clearfix:after {
    content:"";
    display: block;
}

.clearfix:after {
    clear: both; 
}