@charset "UTF-8";

/* Fonts */
@import url("lib/fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");

/* General */
@import url("lib/normalize.css");
@import url("lib/grid.css");

body {
    font-family: "Open Sans", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
img {
    display: block; 
    max-width: 100%;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* Header */
.page-header {
    position: relative;
}

.page-header h1 {
    position: absolute;
    top: 25px;
    left: 25px;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 10px 10px 30px #fff;
    color: maroon;
}

/* Nav */
.page-nav {
    background-color: maroon;
}

.page-nav li {
    float: left;
}

.page-nav a {
    display: block;
    text-decoration: none;
    color: linen;
    padding: 20px 50px;
}
.page-nav a:hover {
    background-color: rgb(248, 105, 148);
}
/* Main */
.page-main {
    padding: 65px 0;
}

.page-main h2 {
    font-size: 25px;
    font-weight: 400;
    color: maroon;

}
.page-main h2:first-child {
    margin-top: 0;
}

/* Form */
.form {
    padding: 50px;
    border: 1px solid #ccc;
}

.form__label {
    display: block;
    margin-bottom: 4px;
    color: #333;
}

.form__element {
    margin-bottom: 25px;
}
.form__text {
    width: 100%;
    font-size: 14px;
    padding: 10px 20px;
    box-sizing: border-box;
    outline: none; /* Se quita el color que aparece cuando se seleccionan los inputs*/
    border: 1px solid #ccc;
}
.form__text:focus {
    border-color: rgb(248, 105, 148);
    box-shadow: 0 0 5px rgb(248, 105, 148);
}
.form__select {
    height: 40px;
    background-color: #fff;
}
.form__textarea {
    resize: vertical; /*Se quita la opción para poder hacer mas chico o mas grande el textarea*/
}
.form__actions {
    text-align: right;
}
.form__button {
    border: none;
    background-color: maroon;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.form__button:hover {
    background-color: firebrick;
}
.form__button--main {
    background-color: crimson;
}
.form__button:hover {
    background-color: brown;
}

.form__text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
}
.form__text::-moz-placeholder { /* Firefox 19+ */
    color: pink;
}
.form__text:-ms-input-placeholder { /* IE 10+ */
    color: pink;
}
.form__text:-moz-placeholder { /* Firefox 18- */
    color: pink;
}
/*
.form input[type=text],
.form input[type=email],
.form input[type=tel],
.form input[type=number],
select,
textarea {
    width: 100%;
}
*/

/* Footer */
.page-footer {
    background-color: maroon;
    padding: 20px 0;
}
.page-footer p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
/* Helpers */
.clearfix:before,
.clearfix:after {
    content:"";
    display: block;
}

.clearfix:after {
    clear: both; 
}