@charset "UTF-8";

/* Fonts */
@import url("lib/fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");

/* General */
@import url("lib/normalize.css");
@import url("lib/grid.css");

body {
    font-family: "Open Sans", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
img {
    display: block; 
    max-width: 100%;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* Header */

/* Nav */

/* Main */
.areas  {
    border: 1px solid #ccc;
    padding: 20px;
}
.my-button {
    background-color: lightpink;
    border: none;
    color:#000;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px 0;
    cursor: pointer;
    outline: none;
    transition: all .3s;
}
.my-button:hover {
    background-color: #6a6a6a;
    color: #ffff;
}
.container {
    margin-top: 400px;
}
.page-header {
    position: fixed;
    top: 0;
    left: 35%;
    right: 35%;

}
.content-image {
    margin: 0 auto;
}
/* Footer */

/* Helpers */
.clearfix:before,
.clearfix:after {
    content:"";
    display: block;
}

.clearfix:after {
    clear: both; 
}